In [17]:
import pandas as pd

In [18]:

df = pd.read_csv(r"C:\Users\shyak\OneDrive\Belgeler\Pandas\New folder\adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [19]:
# Check if the DataFrame is loaded correctly
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [20]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [21]:
# Count the number of people of each race
if 'race' in df.columns:
    race_count = df['race'].value_counts()
    print(race_count)
else:
    print("The 'race' column is not present in the DataFrame.")

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [33]:
# Calculate the average age of men
average_age_men = df[df['sex'] == 'Male']['age'].mean()
print(average_age_men)

39.43354749885268

In [25]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (df['education'] == 'Bachelors').mean() * 100
percentage_bachelors

16.44605509658794

In [30]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
percentage_advanced_education_rich = (df[advanced_education]['salary'] == '>50K').mean() * 100
advanced_education
percentage_advanced_education_rich

46.535843011613935

In [32]:
# What percentage of people without advanced education make more than 50K?
no_advanced_education = ~advanced_education
percentage_non_advanced_education_rich = (df[no_advanced_education]['salary'] == '>50K').mean() * 100
percentage_non_advanced_education_rich

17.3713601914639

In [34]:
# What is the minimum number of hours a person works per week?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [35]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_workers = df[df['hours-per-week'] == min_work_hours]
rich_percentage_min_workers = (min_workers['salary'] == '>50K').mean() * 100
rich_percentage_min_workers

10.0

In [42]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
country_salary_counts = df[df['salary'] == '>50K']['native-country'].value_counts()
country_counts = df['native-country'].value_counts()
highest_earning_country_percentage = (country_salary_counts / country_counts).max() * 100
highest_earning_country = (country_salary_counts / country_counts).idxmax()

In [40]:
highest_earning_country_percentage

41.86046511627907

In [41]:
highest_earning_country

'Iran'

In [44]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].mode()[0]
top_IN_occupation

'Prof-specialty'